<section id="media">
  <div class="container wow fadeInDown text-xs-center" data-wow-delay="0.5s" data-wow-duration="1s">
    <div class="row">
      <div class="col-md-12">
        <h2>Media:</h2>
        <hr width="50%"/>
        <div class="col-md-6">
          <video width="400" controls>
            <source src="../../assets/img/HOH2016/work/Pixgram_1.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
          </video>
        </div>
        <div class="col-md-6">

          <video width="400" controls>
            <source src="../../assets/img/HOH2016/work/Pixgram_2.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
          </video>
        </div>
      </div>
    </div>
  </div>

</section>
