<section id="footer">
  <div class="container wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1.5s">
    <div class="row">
      <div class="col-md-8 col-sm-6">
        <h3>Head Over Heels</h3>
        <p>Your home away from home.</p>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="https://www.facebook.com/Head-Over-Heels-Hair-Nail-Salon-75441603461/" target="_blank">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://twitter.com/headoverheelsoh" target="_blank">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.instagram.com/explore/locations/367111555/" target="_blank">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#" target="_blank">
              <i class="fa fa-pinterest-p"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://plus.google.com/100845256694665407264" target="_blank">
              <i class="fa fa-google-plus"></i>
            </a>
          </li>
        </ul>
      </div>

      <div class="col-md-4 col-sm-6">
        <ul class="list-unstyled">
          <li><p><strong><i class="fa fa-map-marker"></i>Address:</strong> 3723 King Rd.</p></li>
          <li><p><strong><i class="fa fa-envelope"></i>Email:</strong> <a href="mailto:sue@hohsalon.com">sue@hohsalon.com</a>
          </p></li>
          <li><p><strong><i class="fa fa-phone"></i>Phone:</strong> <a
            href="tel:419-517-2080">419-517-2080</a></p></li>

        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <p style="text-align: center;">&copy; 2016 Designed by <a
          href="https://419webdev.site">419webdev.site</a></p>
      </div>
    </div>
  </div>
</section>
