#footer{
  padding:2rem 0;
  background-color: #484848;
  color: #fff;
  text-shadow: 1px 1px 1px black;
  overflow: hidden;
}

#footer a{
  color: #fff;

}

#footer a:hover{
  color: #be2835;

}
#footer .fa{
  padding: 0 5px;
}
