<section id="salon">
  <div class="container text-xs-center wow fadeIn" data-wow-delay="0.9s">
    <div class="row">
      <div class="col-md-12">
        <h2>The Salon</h2>
        <hr width="30%"/>
      </div>
      <div class="row">
        <div class="col-md-12">

          <div id="salon_car" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#salon_car" data-slide-to="0" class="active"></li>
              <li data-target="#salon_car" data-slide-to="1"></li>
              <li data-target="#salon_car" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
              <div class="carousel-item active">
                <div class="col-md-4">
                  <img class="img-fluid" src="../../assets/img/HOH2016/studio2015/1.jpg">
                </div>
                <div class="col-md-4">
                  <img class="img-fluid" src="../../assets/img/HOH2016/studio2015/2.jpg">
                </div>
                <div class="col-md-4">
                  <img class="img-fluid" src="../../assets/img/HOH2016/studio2015/3.jpg">
                </div>
              </div>
              <div class="carousel-item">
                <div class="col-md-4">
                  <img class="img-fluid" src="../../assets/img/HOH2016/studio2015/4.jpg">
                </div>
                <div class="col-md-4">
                  <img class="img-fluid" src="../../assets/img/HOH2016/studio2015/5.jpg">
                </div>
                <div class="col-md-4">
                  <img class="img-fluid" src="../../assets/img/HOH2016/studio2015/6.jpg">
                </div>
              </div>
              <div class="carousel-item">
                <div class="col-md-4">
                  <img class="img-fluid" src="../../assets/img/HOH2016/studio2015/7.jpg">
                </div>
                <div class="col-md-4">
                  <img class="img-fluid" src="../../assets/img/HOH2016/studio2015/8.jpg">
                </div>
                <div class="col-md-4">
                  <img class="img-fluid" src="../../assets/img/HOH2016/studio2015/9.jpg">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

