#social{
  padding: 4.25rem 0;
  background-color: #f6f6f6;
  overflow: hidden;

}

#social .fa {
  font-size: 1.5em;
  color: #be2835;
  border: 2px solid #be2835;
  width: 60px;
  height: 60px;
  border-radius: 30%;
  text-align: center;
  padding: 30% 0;
  margin-top: 10px;
  transition: all 0.4s ease-in-out;
  text-shadow: 1px 1px 1px black;
}

#social .fa:hover {
  color: white;
  background: #be2835;


}
