<section id="social">
  <div class="container wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="1s">
    <div class="row">
      <div class="col-md-6">
        <h2>Connect with us:</h2>
        <hr align="left" width="50%"/>
        <p>We would love to connect with you!</p>
      </div>
      <div class="col-md-6">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="https://www.facebook.com/Head-Over-Heels-Hair-Nail-Salon-75441603461/" target="_blank">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://twitter.com/headoverheelsoh" target="_blank">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.instagram.com/explore/locations/367111555/" target="_blank">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#" target="_blank">
              <i class="fa fa-pinterest-p"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://plus.google.com/100845256694665407264" target="_blank">
              <i class="fa fa-google-plus"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</section>
