<section id="customers">
  <div class="container text-xs-center wow fadeInUp" data-wow-delay="0.2s">
    <div class="row">
      <div class="col-md-12">
        <h2>Customers</h2>
        <hr width="30%"/>
        <p>Read what some of our customers have to say.</p>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div id="quotes" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#quotes" data-slide-to="0" class="active"></li>
              <li data-target="#quotes" data-slide-to="1"></li>
              <li data-target="#quotes" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
              <div class="carousel-item active">
                <blockquote class="blockquote col-md-4">
                  <p class="mb-0">Emily was super nice and did an outstanding job with my cut.</p>
                  <footer class="blockquote-footer">Emily Everett <cite title="Source Title">Facebook</cite></footer>
                </blockquote>
                <blockquote class="blockquote col-md-4">
                  <p class="mb-0">I have been a client of Head over Heels for several years along with my daughter and several members of my family. They are fantastic!</p>
                  <footer class="blockquote-footer">Janet Shamy-Gwin <cite title="Source Title">Facebook</cite></footer>
                </blockquote>
                <blockquote class="blockquote col-md-4">
                  <p class="mb-0"> Absolutely amazing experience from start to finish. I highly recommend stopping by! </p>
                  <footer class="blockquote-footer">Sara Lisk <cite title="Source Title">Facebook</cite></footer>
                </blockquote>
              </div>
              <div class="carousel-item">
                <blockquote class="blockquote col-md-4">
                  <p class="mb-0"> I've gotten my nails done multiple times, as well as updos for my school dances. I even got a facial once. All was perfect :) Love love love!</p>
                  <footer class="blockquote-footer">Marissa Mallue <cite title="Source Title">Facebook</cite></footer>
                </blockquote>
                <blockquote class="blockquote col-md-4">
                  <p class="mb-0">Head Over Heels is amazing! Everyone is super friendly, and I would recommend Head Over Heels to anyone and everyone!.</p>
                  <footer class="blockquote-footer">Stephanie Lee <cite title="Source Title">Facebook</cite></footer>
                </blockquote>
                <blockquote class="blockquote col-md-4">
                  <p class="mb-0">I had the best manicure/gel nail service today!!! They have the best color selection. I cannot wait to return and try more services!!!</p>
                  <footer class="blockquote-footer">Ashley Lott <cite title="Source Title">Facebook</cite></footer>
                </blockquote>
              </div>
              <div class="carousel-item">
                <blockquote class="blockquote col-md-4">
                  <p class="mb-0"> Everyone is always very friendly and always makes you feel right at home.</p>
                  <footer class="blockquote-footer">Linda Tippett <cite title="Source Title">Facebook</cite></footer>
                </blockquote>
                <blockquote class="blockquote col-md-4">
                  <p class="mb-0">Excellent customer service, fun & laid back environment. Very creative and talented hair designers and nail techs.</p>
                  <footer class="blockquote-footer">Jennifer Colwell Barbour <cite title="Source Title">Facebook</cite></footer>
                </blockquote>
                <blockquote class="blockquote col-md-4">
                  <p class="mb-0">Top notch service, flexibility with scheduling, and a friendly staff. I am very comfortable spending time there for "Mom's Day Out" or bringing in kiddos when it's time for a cut.</p>
                  <footer class="blockquote-footer">Betsy Gehring <cite title="Source Title">Facebook</cite></footer>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
