#customers{
  padding: 5rem 0;
  overflow: hidden;

}
#customers .carousel-indicators li{
  background-color: #be2835;

}

#customers .carousel-inner{
  margin-bottom: 50px;
}

#customers .carousel-indicators{
  margin-bottom: -50px;
}
