<nav class="navbar navbar-fixed-top">

  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navigation">
    &#9776;
  </button>

  <a class="navbar-brand float-xs-right float-sm-left" href="#"><img src="../../assets/img/logo-hoh.png" class="img-fluid"/></a>
  <div class="collapse navbar-toggleable-xs" id="navigation">
    <ul class="nav navbar-nav float-sm-right">
      <li class="nav-item">
        <a class="nav-link" href="#social">Connect</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#salon">Salon</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#team">Team</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#work">Our Work</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#media">Media</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#customers">Customers</a>
      </li>
      <!--<li class="nav-item">
          <a class="nav-link" href="#menu">Menu</a>
      </li>-->
      <li class="nav-item">
        <a class="nav-link" href="#contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#products">Products</a>
      </li>
    </ul>
  </div>
</nav>
