.sebm-google-map-container {
  height: 300px;
}

#contact{
  padding: 5rem 0;
  background-color: #f6f6f6;
}
#contact .fa{
  color: #be2835;
  text-shadow: 1px 1px 2px black;
  transition: all 0.4s ease-in-out;
}

#contact .fa:hover{
  text-shadow: 0px -1px 2px black;

}
