<section id="menu">
  <div class="container text-xs-center">
    <div class="row">
      <div class="col-md-12">
        <h2>Menu</h2>
        <hr width="30%"/>
        <p>Our services</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 wow fadeIn" data-wow-delay="0.4s">
        <div class="card">
          <div class="card-header">Nails</div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>2</strong> profiles</li>
            <li class="list-group-item"><strong>$0</strong> / month</li>
            <li class="list-group-item"><strong>1GB</strong> storage</li>
            <li class="list-group-item"><strong>10GB</strong> bandwidth</li>
            <li class="list-group-item"><strong>1</strong> ftp account</li>
            <li class="list-group-item"><strong>Website</strong> integration</li>
            <li class="list-group-item"><strong>Basic</strong> custimization</li>
            <li class="list-group-item"><strong>Email</strong> support</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 wow fadeIn" data-wow-delay="0.8s">
        <div class="card">
          <div class="card-header standard">Hair</div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>100</strong> profiles</li>
            <li class="list-group-item"><strong>$29</strong> / month</li>
            <li class="list-group-item"><strong>50GB</strong> storage</li>
            <li class="list-group-item"><strong>50GB</strong> bandwidth</li>
            <li class="list-group-item"><strong>10</strong> ftp account</li>
            <li class="list-group-item"><strong>Website</strong> integration</li>
            <li class="list-group-item"><strong>Advanced</strong> custimization</li>
            <li class="list-group-item"><strong>Call</strong> support</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 wow fadeIn" data-wow-delay="0.4s">
        <div class="card">
          <div class="card-header">Massage</div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>unlimited</strong> profiles</li>
            <li class="list-group-item"><strong>$59</strong> / month</li>
            <li class="list-group-item"><strong>1TB</strong> storage</li>
            <li class="list-group-item"><strong>unlimited</strong> bandwidth</li>
            <li class="list-group-item"><strong>100</strong> ftp accounts</li>
            <li class="list-group-item"><strong>Website</strong> integration</li>
            <li class="list-group-item"><strong>Advanced</strong> custimization</li>
            <li class="list-group-item"><strong>24/7</strong> support</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
