<section id="work">
  <div class="container text-xs-center wow fadeInRight" data-wow-delay="0.6s">
    <div class="row">
      <div class="col-md-12">
        <h2>Our Work</h2>
        <hr width="30%"/>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div id="our_work" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#our_work" data-slide-to="0" class="active"></li>
              <li data-target="#our_work" data-slide-to="1"></li>
              <li data-target="#our_work" data-slide-to="2"></li>
              <li data-target="#our_work" data-slide-to="3"></li>
              <li data-target="#our_work" data-slide-to="4"></li>
              <li data-target="#our_work" data-slide-to="5"></li>
              <li data-target="#our_work" data-slide-to="6"></li>
              <li data-target="#our_work" data-slide-to="7"></li>
              <li data-target="#our_work" data-slide-to="8"></li>
              <li data-target="#our_work" data-slide-to="9"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
              <div class="carousel-item active">
                <div class="col-md-4">
                  <img class="img-fluid" src="../../assets/img/HOH2016/work/1.jpg">
                </div>
                <div class="col-md-4">
                  <img class="img-fluid" src="../../assets/img/HOH2016/work/2.jpg">
                </div>
                <div class="col-md-4">
                  <img class="img-fluid" src="../../assets/img/HOH2016/work/3.jpg">
                </div>
              </div>
              <div class="carousel-item">
                <div class="col-md-4">
                  <img class="img-fluid" src="../../assets/img/HOH2016/work/4.jpg">
                </div>
                <div class="col-md-4">
                  <img class="img-fluid" src="../../assets/img/HOH2016/work/5.jpg">
                </div>
                <div class="col-md-4">
                  <img class="img-fluid" src="../../assets/img/HOH2016/work/6.jpg">
                </div>
              </div>
              <div class="carousel-item">
                <div class="col-md-4">
                  <img class="img-fluid" src="../../assets/img/HOH2016/work/7.jpg">
                </div>
                <div class="col-md-4">
                  <img class="img-fluid" src="../../assets/img/HOH2016/work/8.jpg">
                </div>
                <div class="col-md-4">
                  <img class="img-fluid" src="../../assets/img/HOH2016/work/9.jpg">
                </div>
              </div>
              <div class="carousel-item">
                <div class="col-md-4">
                  <img class="img-fluid" src="../../assets/img/HOH2016/work/10.jpg">
                </div>
                <div class="col-md-4">
                  <img class="img-fluid" src="../../assets/img/HOH2016/work/11.jpg">
                </div>
                <div class="col-md-4">
                  <img class="img-fluid" src="../../assets/img/HOH2016/work/12.jpg">
                </div>
              </div>
              <div class="carousel-item">
                <div class="col-md-4">
                  <img class="img-fluid" src="../../assets/img/HOH2016/work/13.jpg">
                </div>
                <div class="col-md-4">
                  <img class="img-fluid" src="../../assets/img/HOH2016/work/14.jpg">
                </div>
                <div class="col-md-4">
                  <img class="img-fluid" src="../../assets/img/HOH2016/work/15.jpg">
                </div>
              </div>
              <div class="carousel-item">
                <div class="col-md-4">
                  <img class="img-fluid" src="../../assets/img/HOH2016/work/16.jpg">
                </div>
                <div class="col-md-4">
                  <img class="img-fluid" src="../../assets/img/HOH2016/work/17.jpg">
                </div>
                <div class="col-md-4">
                  <img class="img-fluid" src="../../assets/img/HOH2016/work/18.jpg">
                </div>
              </div>
              <div class="carousel-item">
                <div class="col-md-4">
                  <img class="img-fluid" src="../../assets/img/HOH2016/work/19.jpg">
                </div>
                <div class="col-md-4">
                  <img class="img-fluid" src="../../assets/img/HOH2016/work/20.jpg">
                </div>
                <div class="col-md-4">
                  <img class="img-fluid" src="../../assets/img/HOH2016/work/21.jpg">
                </div>
              </div>
              <div class="carousel-item">
                <div class="col-md-4">
                  <img class="img-fluid" src="../../assets/img/HOH2016/work/22.jpg">
                </div>
                <div class="col-md-4">
                  <img class="img-fluid" src="../../assets/img/HOH2016/work/23.jpg">
                </div>
                <div class="col-md-4">
                  <img class="img-fluid" src="../../assets/img/HOH2016/work/24.jpg">
                </div>
              </div>
              <div class="carousel-item">
                <div class="col-md-4">
                  <img class="img-fluid" src="../../assets/img/HOH2016/work/25.jpg">
                </div>
                <div class="col-md-4">
                  <img class="img-fluid" src="../../assets/img/HOH2016/work/26.jpg">
                </div>
                <div class="col-md-4">
                  <img class="img-fluid" src="../../assets/img/HOH2016/work/27.jpg">
                </div>
              </div>

              <div class="carousel-item">
                <div class="col-md-4">
                  <img class="img-fluid" src="../../assets/img/HOH2016/work/28.jpg">
                </div>
                <div class="col-md-4">
                  <img class="img-fluid" src="../../assets/img/HOH2016/work/29.jpg">
                </div>
                <div class="col-md-4">
                  <img class="img-fluid" src="../../assets/img/HOH2016/work/30.jpg">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
