#menu{
  padding: 5rem 0;

}

#menu .card .card-header{
  background-color: #6e6e6e;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

#menu .card .standard{
  background-color: #be2835;
  font-size: 1.3em;
  padding: 15px 0;
}

#menu .card .card-header:hover{
  background-color: #be2835;

}
