<section id="team">
  <div class="container text-xs-center">
    <div class="row">
      <div class="col-md-12 wow fadeInUp">
        <h2>Our Team</h2>
        <hr width="30%"/>

      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay="0.1s">
        <div class="card">
          <div class="work-img">
            <a href="#"><img class="card-img-top img-fluid" src="../../assets/img/HOH2016/sue.jpg"
                             alt="Card image cap">

            </a>
          </div>

          <div class="card-block">
            <h4 class="card-title">Sue Ghering</h4>
            <p class="card-text">Owner</p>

          </div>
        </div>

      </div>

      <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay="0.2s">
        <div class="card">
          <div class="work-img">
            <a href="#"><img class="card-img-top img-fluid" src="../../assets/img/HOH2016/Brighton6.jpg"
                             alt="Card image cap">

            </a>
          </div>

          <div class="card-block">
            <h4 class="card-title">Brighton Edwards</h4>
            <p class="card-text">Salon Director/Stylist</p>

          </div>
        </div>

      </div>

      <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay="0.3s">
        <div class="card">
          <div class="work-img">
            <a href="#"><img class="card-img-top img-fluid" src="../../assets/img/HOH2016/Emily_horvath1.jpg"
                             alt="Card image cap">

            </a>
          </div>

          <div class="card-block">
            <h4 class="card-title">Emily Horvath</h4>
            <p class="card-text">Stylist</p>

          </div>
        </div>

      </div>

      <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay="0.4s">
        <div class="card">
          <div class="work-img">
            <a href="#"><img class="card-img-top img-fluid" src="../../assets/img/HOH2016/liz3.jpg"
                             alt="Card image cap">

            </a>
          </div>

          <div class="card-block">
            <h4 class="card-title">Liz Walton</h4>
            <p class="card-text">Stylist/Nails</p>

          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay="0.5s">
        <div class="card">
          <div class="work-img">
            <a href="#"><img class="card-img-top img-fluid" src="../../assets/img/HOH2016/charity_shaw2.jpg"
                             alt="Card image cap">

            </a>
          </div>

          <div class="card-block">
            <h4 class="card-title">Charity Shaw</h4>
            <p class="card-text">Nail Specialist</p>

          </div>
        </div>

      </div>

      <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay="0.6s">
        <div class="card">
          <div class="work-img">
            <a href="#"><img class="card-img-top img-fluid" src="../../assets/img/HOH2016/monica_dull2.jpg"
                             alt="Card image cap">

            </a>
          </div>

          <div class="card-block">
            <h4 class="card-title">Monica Dull</h4>
            <p class="card-text">Stylist/Eyelash Extensions</p>

          </div>
        </div>

      </div>


      <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay="0.8s">
        <div class="card">
          <div class="work-img">
            <a href="#"><img class="card-img-top img-fluid" src="../../assets/img/HOH2016/sarah_foore1.jpg"
                             alt="Card image cap">

            </a>
          </div>

          <div class="card-block">
            <h4 class="card-title">Sarah Foore</h4>
            <p class="card-text">Stylist/Hair Extensions</p>

          </div>
        </div>

      </div>

      <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay="0.9s">
        <div class="card">
          <div class="work-img">
            <a href="#"><img class="card-img-top img-fluid" src="../../assets/img/HOH2016/tj.jpg"
                             alt="Card image cap">

            </a>
          </div>

          <div class="card-block">
            <h4 class="card-title">T.J Burroughs</h4>
            <p class="card-text">Nail Specialist</p>

          </div>
        </div>

      </div>

      <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay="1.1s">
        <div class="card">
          <div class="work-img">
            <a href="#"><img class="card-img-top img-fluid" src="../../assets/img/eye.png"
                             alt="Card image cap">

            </a>
          </div>

          <div class="card-block">
            <h4 class="card-title">Angelica Rozzi-Earley</h4>
            <p class="card-text">Stylist/Nails</p>

          </div>
        </div>

      </div>

      <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay="1.2s">
        <div class="card">
          <div class="work-img">
            <a href="#"><img class="card-img-top img-fluid" src="../../assets/img/HOH2016/alissandra.jpg"
                             alt="Card image cap">

            </a>
          </div>

          <div class="card-block">
            <h4 class="card-title">Alissandra Hurdelbrink</h4>
            <p class="card-text">Stylist</p>

          </div>
        </div>

      </div>
      <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay="1.3s">
        <div class="card">
          <div class="work-img">
            <a href="#"><img class="card-img-top img-fluid" src="../../assets/img/eye.png"
                             alt="Card image cap">

            </a>
          </div>

          <div class="card-block">
            <h4 class="card-title">Your Name Here</h4>
            <p class="card-text">Join Our Team</p>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>
